body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

#productos, #carrito {
    width: 45%;
}

.producto {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.producto h3 {
    margin-top: 0;
}

.añadir-carrito, #comprar {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.añadir-carrito:hover, #comprar:hover {
    background-color: #218838;
}

#carrito ul {
    list-style-type: none;
    padding: 0;
}

#carrito li {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
